main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  display: flex;
}
button {
  letter-spacing: 0.1rem;
  border-radius: 6px;
  height: 2rem;
  width: 4rem;
  margin-left: 3rem;
  background-color: whitesmoke;
}
button:hover {
  background-color: black;
  border-radius: 0;
  color: white;
  cursor: pointer;
}
